<div class="pokemonContainer">
  <div class="titleContainer">
    <h2>Listado de Pokemon</h2>
  </div>
  <div class="searchContainer">
    <input (keyup)="onKeyUp()" [(ngModel)]="searchValue"  type="text" class="searchBox" placeholder="&#xf002; Buscar" />
  </div>
  <div class="previewContainer">
    <div class="pokemonList cardsContainer">child 1</div>
    <div class="pokemonCard cardsContainer">child 2</div>
  </div>
  <div class="buttonContainer">
    <button class="btnPagination" (click)="onClickPrevPage()">Atras</button>
    <button class="btnPagination" (click)="onClickNextPage()">Siguiente</button>
  </div>
</div>
