<div class="pokemonContainer">
  <div class="titleContainer">
    <h2>Listado de Pokemon</h2>
  </div>
  <div class="searchContainer">
    <input
      (keyup)="onKeyUpSearch()"
      [(ngModel)]="searchValue"
      type="text"
      class="searchBox"
      placeholder="&#xf002; Buscar"
    />
  </div>
  <div class="previewContainer">
    <div class="pokemonList cardsContainer">
      <div class="pokemonCards"*ngIf="pokemonList.length > 0">
        <p class="pokeCard" *ngFor="let pokemon of pokemonList">
          <app-pokemon-simple-view
            [pokemonUrl]="pokemon.url"
            (selectedPokemon)="selectedPokemon($event)"
          ></app-pokemon-simple-view>
        </p>
      </div>
    </div>
    <div class="pokemonShow cardsContainer">
      <div class="pokemonDetails">
        <p class="pokemonDetail">
          <app-pokemon-detail-view
            *ngIf="chosenPokemon"
            [selectedPokemon]="chosenPokemon"
          ></app-pokemon-detail-view>
        </p>
      </div>
    </div>
  </div>
  <div class="buttonContainer" *ngIf="pokemonList.length > 0">
    <button class="btnPagination" (click)="onClickPrevPage()">Atras</button>
    <button class="btnPagination" (click)="onClickNextPage()">Siguiente</button>
  </div>
</div>
