html,
body {
  background-color: #fbfbfb;
  height: max-content;
}

.mainContainer {
  /* background-color: gray; */
  height: 96vh;
}

.pokemonContainer {
  margin: 10px;
  padding-top: 10px;
}

.titleContainer {
  text-align: center;
  font-size: 1.3rem;
}

.searchContainer {
  display: flex;
  margin: 20px 0;
  width: 59%;
}

.searchBox {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #9b9b9be9;
  outline: none;
  color: #2c3632;
  font-family: FontAwesome;
  font-size: 1.3em;
}

.searchBox:hover,
.searchBox:focus {
  border: 2px solid #000000;
}

.previewContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cardsContainer {
  border: 2px solid blueviolet;
  display: flex;
  height: 70vh;
  flex-flow: wrap;
}

.pokemonList {
  width: 59%;
}

.pokemonCard {
  width: 39%;
}

.buttonContainer {
  margin: 20px 10px;
  display: flex;
  width: 58%;
  /* border: 2px solid burlywood; */
  justify-content: space-between;
}

.btnPagination {
  padding: 12px;
  margin: 0 2px;
  width: 100px;
  background-color: #337ad6;
  color: white;
  border-radius: 5px;
  font-size: 1.1rem;
  border: none;
  text-align: center;
  text-decoration: none;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.24);
}

.btnPagination:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.24);
  background-color: #317bdc;
}

.btnPagination:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.24);
}
