html,
body {
  background-color: #ebeaeaed;
  height: max-content;
  font-family: "CustomFont", Arial, sans-serif;
}

.mainContainer {
  height: 96vh;
}

.pokemonContainer {
  margin: 10px;
  padding-top: 10px;
}

.titleContainer {
  text-align: center;
  font-size: 1.5rem;
}

.searchContainer {
  display: flex;
  margin: 15px 0;
  width: 50%;
}

.searchBox {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #9b9b9be9;
  outline: none;
  color: #2c3632;
  font-family: FontAwesome;
  font-size: 1.3em;
}

.searchBox:hover,
.searchBox:focus {
  border: 1px solid #000000;
}

.previewContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cardsContainer {
  display: flex;
  height: 70vh;
}

.pokemonList {
  width: 52%;
}

.pokemonCards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.pokeCard {
  width: 45%;
  text-align: center;
}

.pokemonShow {
  width: 47%;
}

.pokemonDetails {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.pokemonDetail {
  width: 90%;
}

.buttonContainer {
  margin: 20px 10px;
  display: flex;
  width: 49%;
  justify-content: space-between;
}

.btnPagination {
  padding: 12px;
  margin: 0 2px;
  width: 100px;
  background-color: #337ad6;
  color: white;
  border-radius: 5px;
  font-size: 1.1rem;
  border: none;
  text-align: center;
  text-decoration: none;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.24);
}

.btnPagination:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.24);
  background-color: #317bdc;
}

.btnPagination:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.24);
}
